/* particules style.css*/

#container{
  width: 1530px;
  height: 720px;
}

#content{
  position: absolute;
  width : 300px;
  height : 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
  background: #fff;
  border: 1px solid red;
}

#content h1{
  text-align:center;
}

body{
  margin:0;
  padding:0;
}